<h1>Welcome <%= current_user.username %></h1>

<div style="height:500px;width:500px;margin:0 auto;background:#eee;" id="map"></div>

<input type="submit" value="Check In!">


<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;
  let loc = {};
  loc.latitude  = crd.latitude;
  loc.longitude = crd.longitude;
  initMap(loc);
};

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
};

function initMap(loc) {
  var pos = {lat: loc.latitude, lng: loc.longitude};
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: pos
  });
  var marker = new google.maps.Marker({
    position: pos,
    map: map
  });
}
function initGoogleMaps(){
  navigator.geolocation.getCurrentPosition(success, error, options);
}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaNtdxZdFwl2-vMpkDk1BK0ofNmLa82aY&callback=initGoogleMaps">
</script>
