<nav id="general-header" class="cf">
  <ul id="general-header-links" class="header-links cf">
    <li><%= link_to "Login", new_session_url %></li>
    <li><%= link_to "Sign Up", new_user_url %></li>
  </ul>
</nav>
